.App{
    display: block;
    width: 100%;
    height: 100vh;
    background-color: rgb(236, 246, 255);
}

/******************/
/*Header*/
/******************/
.Header{
    display: flex;
    width: 100%;
    background-color: rgb(15, 14, 20);
    align-items: center;
}

.Header-logo {
    height: 100px;
  
}

.Header-h1{
    color: #fff;
    margin: 0 auto;
}


/******************/
/*Search Bar*/
/******************/
.Search-form{
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 10px auto 0;
}

.Search-input{
    font-size: 20px;
    padding: 10px;
}

.Search-button{
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
}